.welcome-container {
    position: relative;
    height: 100vh; 
    background-image: url('/assets/img/Nature.jpg'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-container h1 {
    font-size: 3rem; 
    color: white; 
    margin-bottom: 20px; 
  }
  
  .welcome-container p {
    font-size: 1.5rem; 
    color: rgb(238, 223, 16); 
    margin-bottom: 30px; 
  }
  
  .documentation-button {
    position: fixed;
    top: 20px; 
    right: 20px; 
  }