.card{
    border-radius: 15px;
}

.doc.card {
    margin-top: 20px;
    width: 100%;
  }
  
  .doc.card-title {
    font-size: 1.5rem;
    color: #333;
  }
  
  .doc.card-text {
    font-size: 1.1rem;
    color: #666;
  }